@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Kanit:wght@200&family=Lumanosimo&family=Roboto&family=Space+Grotesk:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Kanit:wght@200&family=Lumanosimo&family=Open+Sans:wght@300&family=Roboto&family=Space+Grotesk:wght@500&display=swap');


h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 70px;
    color: #404851
}

#mainBox {
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

#userInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

    background-image: url('./assets/formBg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}



input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

input[type=text]:focus {
    border: 3px solid #555;
}

label {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    color: #515e6e
}

input[type=submit] {
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
}


#weatherOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

#location {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;

}

#conditions {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#weatherDisplay {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 900;
}

#error{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    color: #515e6e;
    margin: 0px;
}